<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Heroes</a>
        <a class="nav-link" href="#">Home</a>
        <a class="nav-link" href="#">Squad</a>
    </div>
</nav>

{{#partial "content"}}
    <h1>Your heroes</h1>
    {{#each myHeroes}}
        <div class="card">
            <div class="card-body">
                <div class="card-title">Hero</div>
                <div class="card-text"><strong>Name: </strong>{{name}}</div>
                <div class="card-text"><strong>Age : </strong>{{age}}</div>
                <div class="card-text"><strong>Strength : </strong>{{strength}}</div>
                <div class="card-text"><strong>Weakness : </strong>{{weakness}}</div>
            </div>
        </div>
    {{/each}}
{{/partial}}
{{#partial "footer"}}
    <button type="submit" class="back">Submit</button>
{{/partial}}
{{> layout.hbs}}