<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
    </div>
</nav>
{{#partial "content"}}

    hey there
{{/partial}}
{{> layout.hbs}}