<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Heroes</a>
        <a class="nav-link" href="#">Home</a>
        <a class="nav-link" href="#">Squad</a>
    </div>
</nav>
{{#partial "content"}}
    <div class="form-section">
        <form method="post" action="/heroes" class="form">
            <h2 class="form_title">Let's save the world</h2>
            <p class="info">Enter details for your superhero</p>

            <div class="form_div">
                <input type="text" class="form_input" placeholder=" " name="name">
                <label for="name" class="form_label">Name</label>
            </div>
            <div class="form_div">
                <input type="text" class="form_input" placeholder=" " name="age">
                <label for="age" class="form_label">Age</label>
            </div>
            <div class="form_div">
                <input type="text" class="form_input" placeholder=" " name="strength" id="strength">
                <label for="strength" class="form_label">Strength</label>
            </div>
            <div class="form_div">
                <input type="text" class="form_input" placeholder=" " name="weakness" id="weakness">
                <label for="weakness" class="form_label">Weakness</label>
            </div>
            <button type="submit" class="submit" value="Sign In">Submit</button>
        </form>
    </div>

{{/partial}}
{{> layout.hbs}}