{{#partial "content"}}
    <p>Superheroes' name : {{name}}</p>
    <p>Superheroes' age : {{age}}</p>
    <p>Superheroes' strength : {{strength}}</p>
    <p>Superheroes' weakness : {{weakness}}</p>
{{/partial}}
{{> layout.hbs}}